*.3kv
*.jar
.cache
.classpath
.DS_Store
.history
.idea
.idea_modules
.project
.settings
/**/logs
/**/node_modules
/**/target
/**/webui/dev
/**/webui/dist
/build.log
/project/project
/stage
/stage-*.tgz
